<h1>OurVibe. 2 people, one vibe.</h1>

<p>Placeholder text</p>

<%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %><br/>
<%= link_to "Sign in with Spotify", user_omniauth_authorize_path(:spotify) %>